.fc {
  height: 31rem;
}
/* Header */
.fc .fc-toolbar.fc-header-toolbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
/* Header */

/* Botonones de mes, seman y día */
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  margin: 3px;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin: 3px;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin: 3px;
}
/* Botonones de mes, seman y día */
/* Heder de los dias */
.fc .fc-col-header-cell-cushion {
  color: rgb(58, 53, 53);
}
/* Heder de los dias */
/* Numeo de los dias */
.fc .fc-daygrid-day-number {
  color: rgb(58, 53, 53);
  text-decoration: none;
}
/* Numeo de los dias */
/* Texto de los eventos */
.fc-direction-ltr .fc-daygrid-event .fc-event-time,
.fc-daygrid-dot-event .fc-event-title {
  color: rgb(58, 53, 53);
}
/* Texto de los eventos */

